<div style="max-width: 800px; margin: 20px auto; padding: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
  <h1 style="text-align: center; color: #343a40;">Métodos de Cifrado</h1>

  <h2 style="color: #495057;">1. Cifrado DES (Data Encryption Standard)</h2>
  <p style="line-height: 1.6; color: #6c757d;">
      El cifrado DES es un algoritmo de cifrado de bloque que utiliza una clave de 56 bits para convertir datos en un formato ilegible.
      Es uno de los métodos de cifrado más antiguos y fue ampliamente utilizado, pero su seguridad ha sido comprometida debido a la
      capacidad computacional moderna, lo que lo ha llevado a ser reemplazado por métodos más seguros.
  </p>

  <h2 style="color: #495057;">2. Cifrado DSA (Digital Signature Algorithm)</h2>
  <p style="line-height: 1.6; color: #6c757d;">
      El algoritmo DSA es un estándar de firma digital que permite la verificación de la autenticidad e integridad de un mensaje.
      Utiliza una clave pública y una clave privada para firmar y verificar mensajes, asegurando que el emisor sea quien dice ser.
  </p>

  <h2 style="color: #495057;">3. Hashing SHA-1 (Secure Hash Algorithm 1)</h2>
  <p style="line-height: 1.6; color: #6c757d;">
      SHA-1 es un algoritmo de hashing que produce un valor hash de 160 bits. Se utiliza comúnmente para verificar la integridad
      de los datos. Sin embargo, su uso ha disminuido debido a vulnerabilidades que permiten ataques de colisión.
  </p>

  <h2 style="color: #495057;">4. Cifrado César</h2>
  <p style="line-height: 1.6; color: #6c757d;">
      El cifrado César es un método de cifrado simple que reemplaza cada letra del texto original por otra letra que se encuentra
      un número fijo de posiciones más adelante en el alfabeto. Es fácil de entender, pero no es seguro para aplicaciones modernas.
  </p>

  <h2 style="color: #495057;">5. Cifrado Escítala</h2>
  <p style="line-height: 1.6; color: #6c757d;">
      El cifrado escítala es un método de cifrado antiguo que utiliza un patrón en forma de espiral para escribir el texto.
      Al leer el texto de arriba hacia abajo, se revela el mensaje. Es un enfoque divertido pero no ofrece un nivel adecuado de seguridad.
  </p>

  <div style="text-align: center; margin-top: 20px;">
    <button style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.3s;">
      <a style="color: white;" href="https://drive.google.com/drive/folders/1yOHEEISTP4dmIQzhR7PER_VJ4Ap4b-jo?usp=sharing">
        Mas informacion
      </a>
    </button>
</div>

</div>
